body{
	background-color: black;
}

.main {
}

.title-box{
	top: 0;
	left: 9px;
	position: absolute;
	height: 10vh;
	width: 12vw;
	background-color: white;
}

/*side panel*/
.side-panel{
	background-color: rgba(187, 178, 178, 0.92);
	position: absolute;
	height: 88vh;
	width: 12vw;
	top: 10vh;
	bottom: 2vh;
  overflow-y: auto;
  max-width:12vw;
  max-height:88vh;
}
.batch{

}
.side-cell{
	border: 2px solid black;
  float: left;
	height: 4vw;
	width: 4.5vw;
	font-size: 5vh;
}

.side-header{
	font-size: 1vw;
	color: red;
}




/* table classes */

.table{
}

.row {
	float: left;
	height: 4vw;
}

.cell{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 3.4vw;
}
.table-cell{
	font-size: 3vw;
	border: 3px solid black;
	width: 7vw;
}
.headers-cell{
	font-size: 3vw;
	border: 3px solid black;
	background-color: pink;
	width: 11vw;
	font-size: 3vh;
}

.table{
	position: absolute;
	height: 47vh;
}
.table.table-header{
	left: 14vw;
}
.table.table0{
	left: 25vw;
}

.table.table1{
	left: 50vw;
}
.table.table2{
	left: 75vw;
}

.table.top{
	top: 10vh;
}
.table.bot{
	top: 55vh;
}


.header{
	background: #ffc3cb;
  top: 3px;
	height: 9vh;
  left: 13vw;
  width: 50vw;
  position: absolute;
	font-size: 3vw;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	line-height: 4vw;
}
.cell.max2{
	background-color: #00FF00;
}
.cell.max3{
	background-color: #800080;
}
.cell.normal{
	background-color: yellow;
}


/* winner collors*/
.cell.max1{
	-webkit-animation: winner 1s infinite;
  -moz-animation:    winner 1s infinite; /* Fx 5+ */
  -o-animation:      winner 1s infinite; /* Opera 12+ */
  animation:         winner 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes winner {
0%, 49% {
    background-color: rgb(117,209,63);
    border: 3px solid red;
}
50%, 100% {
    background-color: #FF6347;
    border: 3px solid rgb(117,209,63);
}
